<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <div class="container-fluid">
        <div class="maestro-title">
            <h1>Maestr&#9685;</h1>
        </div>
        <div class="quiz-sheet">
            <div class="quiz-header">
                Axon Fundamentals Pt. 1
            </div>
            <form method="POST" role="form">
                <fieldset>
                    <div class="radio .disabled question-block">
                        <% for( i =0; i< questions.length; i++ ){ %>
                                <% if (questions[i].correct_answers.length == 1) {%>
                                    <div class="question single-choice"><%= (i+1) +". "+ questions[i].label %></div>
                                    <div class="answers-block">
                                    <% for ( j = 0; j < questions[i].answer_choices.length; j++) { %>
                                        <div class="radio form-group">
                                            <label>
                                                <input type="radio" name="<%= questions[i].id %>" value="<%= questions[i].answer_choices[j] %>">
                                                <%= questions[i].answer_choices[j] %>
                                            </label>
                                        </div>
                                    <% } %>
                                    </div>
                                <% } else {%>
                                        <div class="question multi-choice"><%= (i+1) +". "+ questions[i].label %></div>
                                        <div class="answers-block">
                                        <% for ( j = 0; j < questions[i].answer_choices.length; j++) { %>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="<%= questions[i].id %>" value="<%= questions[i].answer_choices[j] %>">
                                                    <%= questions[i].answer_choices[j] %>
                                                </label>
                                            </div>
                                        <% } %>
                                        </div>
                                <% } %>
                        <br>
                        <% } %>
                    </div>
                </fieldset>
                <div class="quiz-submit">
                    <button type="submit" class="btn btn-primary">submit answers</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
